<% provide(:title, "Kontakt") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | EvenTraum</title>
</head>
<body>
<h1>Kontakt</h1>
<p>Kontaktieren Sie bei Rückfragen oder Anregungen gerne das EvenTraum-Team.</p>
  <br><br>
  <%= mail_to ("xelat.akcam@gmail.com"), "Xelat Akcam", :style=> "font-weight: bold" %><br><br>
<div style="text-align:left"><%=image_tag("email.png", size: "25") + "  xelat.akcam@gmail.com" %></div>
<br><br>
<%= mail_to ("ha.boulakhrif@web.de"), "Hayat Boulakhrif", :style=> "font-weight: bold" %><br><br>
<div style="text-align:left"><%=image_tag("email.png", size: "25") + "  ha.boulakhrif@web.de" %></div>
<br><br>
<%= mail_to ("nadia.kruszewski@yahoo.de"), "Nadia Kruszewski", :style=> "font-weight: bold" %><br><br>
<div style="text-align:left"><%=image_tag("email.png", size: "25") + "  nadia.kruszewski@yahoo.de" %></div>

</body>
</html>

