<% provide(:title, "Angebot") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | EvenTraum</title>
</head>
<body>
<h1>EvenTraum realisiert das Event Ihrer Träume</h1>
<p>
  Die Planung eines Events ist meist mit viel Aufwand und Stress verbunden.
  Der Service von EvenTraum bietet Ihnen an, die gesamte Organisation Ihres Events zu übernehmen,
  so dass Sie sich ganz in Ruhe auf Ihre Veranstaltung freuen können.<br><br>
  Der EvenTraum-Rundum-Service bietet das gesamte Spektrum der Veranstaltungsorganisation, von der Konzeptentwicklung bis zur Durchführung.
  Durch unser breites Portfolio können Sie Events mit einer beliebigen Anzahl von Gästen planen lassen.
  Gerne stellen wir Ihnen auch nur Teile unseres Angebots zur Verfügung. Sie allein entscheiden, was zu Ihrem Traum-Event dazugehört.<br><br>
  Ob Catering, Entertainment oder die passende Raumdekoration – wir kümmern uns um all Ihre persönlichen Wünsche.
  Es ist uns ein Herzensanliegen durch unser Rundum-Service der besonderen Art ein perfektes Event für Sie zu planen.
  Unser Ziel besteht darin einzigartige und unvergessliche Erlebnismomente für Sie und Ihre Gäste zu erschaffen.
</p>
</body>
<body>
<div class="info">
  <div style==><%=image_tag("Image_8.jpg", width: "550", height:  "350") %></div>
  <p>
    Unser vielseitiges Portfolio an unterschiedlichsten Räumlichkeiten erlaubt es uns jegliche Art und Größe von Veranstaltungen zu organisieren.
    Von Familienfeiern und Hochzeiten über Betriebsfeiern bis hin zu Preisverleihungen – EvenTraum realisiert jedes Event.<br><br>
    Die Räume erfüllen höchste Ansprüche und sind je nach Geschmack und Anlass glanzvoll, gemütlich oder modern.
    Auf Wunsch können wir hoch innovative Rauminszenierungen, einen glanzvollen Außenbereich oder einen beeindruckenden Ausblick realisieren.
    Selbstverständlich sorgen wir auch für eine dem Anlass entsprechende Raumdekoration.<br><br>
    Teilen Sie uns Ihre Präferenzen gerne mit - EvenTraum findet die geeignete Location für Ihren Anlass.
  </p>
</div>
</body>
<br>
<body>
<div class="info">
  <div style=><%=image_tag("Image_3.jpg", width: "550", height: "350")%></div>
  <p>
    Gutes Essen verbreitet gute Laune – daher kommt die Bewirtung der Gäste mit Getränken und Speisen bei EvenTraum nicht zu kurz.
    Seien es Köstlichkeiten aus der deutschen, spanischen, griechischen, französischen, italienischen oder orientalischen Küche
    - aus unserem vielfältigen und internationalen Catering-Angebot können sie je nach Geschmack kombinieren.<br>
    Die Speisen können sowohl als Buffet als auch als Menü serviert werden.<br><br>
    Der Rundum-Service von EvenTraum sorgt für das Eindecken und Dekorieren der großen Tafel oder der Tischgruppen
    durch unser Catering-Personal, welches die Gäste bei Ihrer Veranstaltung schließlich auch bedient und deren besonderen Wünsche erfüllt.<br><br>
    Gerne kreiert unser Konditor eine schicke Torte zum Geburtstag, Hochzeitstag oder einem anderen Anlass.
  </p>
</div>
</body>
<body>
<div class="info">
  <div style=><%=image_tag("Image_10.jpg", width: "550", height: "350")%></div>
  <p>
    EvenTraum kümmert sich um die passende musikalische Untermalung Ihres Events - ob als kurze Einlage,
    im Hintergrund oder als abendfüllendes Programm.<br><br>
    Im Bereich der Live Musik bieten wir Ihnen attraktive Ensembles in verschiedenen Besetzungen aus allen Stilrichtungen:
    Von Klassik über Swing und Jazz bis hin zu Tanz- und Party-Musik. Auch andere Besetzungen oder ein DJ können der Veranstaltung
    den passenden musikalischen Rahmen verleihen.<br><br>
    Mit dem richtigen Ton wird Ihr Event perfekt abgerundet.
  </p>
</div>
</body>
<br><br><br><br><br><br><br><br>
<p>
  Erlauben Sie uns einen kleinen Einblick in Ihre Vorstellung bezüglich Ihres Events zu gewinnen und lassen Sie sich ganz sorgenfrei
  von uns überraschen.<br>
  Mit viel Engagement und Liebe bis ins kleinste Detail plant unser kreatives und zugleich kompetentes EvenTraum-Team Ihr nächstes Event.<br><br>
  Fordern Sie uns heraus – wir  freuen uns auf Sie!
</p>
</html>
