<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "Perioden") %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Periode:</strong>
  <%= @period.name %>
</p>

<p>
  <strong>Datum:</strong>
  <%= @period.time %>
</p>


<%= link_to 'Ändern', edit_period_path(@period) %> |
<%= link_to 'Zurück', periods_path %>
    <% end %>
<% end %>