<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "Vorgänge") %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @job.event.name %>
</p>

<p>
  <strong>Vorgang:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @job.jobtext %>
</p>

<p>
  <strong>Vorgangsdauer:</strong>
  <%= @job.processing_time %>
</p>

<p>
  <strong>Ressourcenbedarf:</strong>
  <%= @job.ressource_demand %>
</p>

<%= link_to 'Ändern', edit_job_path(@job) %> |
<%= link_to 'Zurück', jobs_path %>
    <% end %>
<% end %>