<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "GAMS-Pfad") %>

<h1>Aktualisierung des GAMS-Pfads</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @gams_path %> |
<%= link_to 'Zurück', gams_paths_path %>
    <% end %>
<% end %>